apiVersion: v1
kind: Service
metadata:
  name: skitt-backend-service
  namespace: skitt-prod
  labels:
    app: skitt-backend
spec:
  type: ClusterIP
  ports:
    - port: 3001
      targetPort: 3001
      protocol: TCP
      name: http
  selector:
    app: skitt-backend
